<% include header%>
<table border="0" align="center">
	<tr>
		<td>
			<h2>Edit Event Information</h2>
		</td>
	</tr>
	<tr>
		<td>
			<form method="post">
			<input type="hidden" name="eventId" value="<%= eventId %>">
				<table>
					<tr>
						<td>Event Name: </td>
						<td><input type="text" name="eventname" value="<%= eventname %>"></td>
					</tr>
					<tr>
						<td>Event Date: </td>
						<td><input type="date" name="eventdate" value="<%= eventdate %>"></td>
					</tr>
					<tr>
						<td>Event Venue: </td>
						<td><input type="text" name="venue" value="<%= venue %>"></td>
					</tr>
					<tr>
						<td>Event Details: </td>
						<td><input type="text" name="eventdetails" value="<%=eventdetails%>"></td>
					</tr>
					<tr>
						<td>STATUS: </td>
						<td>
							<select name="status">
								
								<option @if("<%= status %>"== 'Pending') 
								 {{ 'selected' }}  @endif>Pending</option>
								 <option @if("<%= status %>"== 'Completed') 
								 {{ 'selected' }}  @endif>Completed</option>
								  <option @if("<%= status %>"== 'Canceled') 
								 {{ 'selected' }}  @endif>Canceled</option>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Update"></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>