<% include header %>

<table border="0" align="center">
	<tr>
		<td align="center">
			<a href="/events/create">Create a New Event</a>
		    <h3>All Event List by AIUB SHOMOY CLUB</h3>
		    <br>	
		</td>
	</tr>
	<tr>
		<td align="center">
			<% if(messages.info)
			 	{ %> <p style="color:green;"> <%= messages.info %> </p> <%} 
	 		%>
		</td>
	</tr>
	<tr>
		<td align="center">
			<form method="post">
				<label>Search by Name : </label>
				<input type="text" name="fullname">
				<input type="submit" value="Search">
			</form>
		</td>
	</tr>
	<tr>
		<td>
			<table border="1" align="center">
		<tr>
			<th>Event Name</th>
			<th>Host Admin</th>
			<th>Venue</th>
			<th>Date</th>
			<th>Events Details</th>
			<th>Status</th>
			<th>Request For Event</th>
			<th>Volunteer Event</th>
			<th>OPTION</th>
	<% for(var i = 0; i < eventlist.length; i++) {%>
		<tr>
			<td><%= eventlist[i].eventname %></td>
			<td><%= eventlist[i].hostadmin %></td>
			<td><%= eventlist[i].venue %></td>
			<td><%= eventlist[i].eventdate %></td>
			<td><%= eventlist[i].eventdetails %></td>
			<td><%= eventlist[i].status %></td>
			<td>#</td>
			<td>#</td>
			<td><a href="/events/edit/<%= eventlist[i].eventId %>"> Edit </a> | <a href="/events/delete/<%= eventlist[i].eventId %>"> Delete </a></td>
		</tr>
		<% } %>
	</table>
		</td>
	</tr>
</table>
