<% include header %>

<table border="0" align="center">
	<tr>
		<td align="center">
			<aa href="#">Register a New Volunteer</a>
		    <h3>User List</h3>
		    <br>	
		</td>
	</tr>
	<tr>
		<td align="center">
			<% if(messages.info)
			 	{ %> <p style="color:green;"> <%= messages.info %> </p> <%} 
	 		%>
		</td>
	</tr>
	<tr>
		<td>
			<form method="post">
				<label>Search by Name : </label>
				<input type="text" name="fullname">
				<input type="submit" value="Search">
			</form>
		</td>
	</tr>
	<tr>
		<td>
			<table border="1">
		<tr>
			<th>User ID</th>
			<th>USERNAME</th>
			<th>FULL NAME</th>
			<th>TYPE</th>
			<th>OPTION</th>
		</tr>
		<% for(var i = 0; i < userlist.length; i++) {%>
		<tr>
			<td><%= userlist[i].userId %></td>
			<td><%= userlist[i].username %></td>
			<td><%= userlist[i].fullname %></td>
			<td><%= userlist[i].type %></td>
			<td><a href="/userlist/edit/<%= userlist[i].userId %>"> Edit </a> | <a href="/userlist/delete/<%= userlist[i].userId %>"> Delete </a></td>
		</tr>
		<% } %>
	</table>
		</td>
	</tr>
</table>
